In [3]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("data_agg.csv")
print(df.shape)
# print(df.head())

(449, 6)

In [11]:
# testing
df["Total"] = df.iloc[:, 3:6].sum(axis=1)
inference = df[df["Object"] != "No overlay"]

In [12]:
inference.shape

(447, 7)

In [15]:
# confidence df
filtered_df = inference[["Timestamp", "Object", "Confidence Score"]]
confidence_df = filtered_df.pivot(columns="Object", values="Confidence Score")   
# counts df 
counts = filtered_df.groupby(["Timestamp", "Object"])["Confidence Score"].count()
counts_df = counts.reset_index()
counts_df = counts_df.rename(columns={"Confidence Score": "Counts"})
counts_df = counts_df.pivot(columns="Object", values="Counts")

In [17]:
print(confidence_df.shape)
print(counts_df.shape)

(447, 4)
(327, 4)

In [22]:
filtered_df[:10]

                    Timestamp Object Confidence Score
0  2023-10-03 12:37:52.809488  truck           0.7783
1  2023-10-03 12:37:52.809488  truck            0.396
2  2023-10-03 12:37:53.004898  truck           0.7748
3  2023-10-03 12:37:53.004898  truck            0.378
4  2023-10-03 12:37:53.227512  truck           0.7775
5  2023-10-03 12:37:53.227512  truck           0.4227
6  2023-10-03 12:37:53.404711  truck           0.7779
7  2023-10-03 12:37:53.404711  truck           0.3641
8  2023-10-03 12:37:53.588385  truck           0.7785
9  2023-10-03 12:37:53.588385  truck           0.4268

In [25]:
import datetime
now = datetime.datetime.now()
import time
time.sleep(5)
later = datetime.datetime.now()
diff = later - now
print(diff.total_seconds())

5.001761

In [30]:
now.strftime('%Y-%m-%d %H:%M:%S')

'2023-10-03 09:24:26'

In [7]:
df[:10]

,Timestamp,Object,Confidence Score,Frame Read Time,Inference Time,Postprocess Time
0,2023-10-03 12:37:52.809488,truck,0.7783,0.017037,0.173672,0.001124
1,2023-10-03 12:37:52.809488,truck,0.396,0.017037,0.173672,0.001124
2,2023-10-03 12:37:53.004898,truck,0.7748,0.025300,0.178232,0.001017
3,2023-10-03 12:37:53.004898,truck,0.378,0.025300,0.178232,0.001017
4,2023-10-03 12:37:53.227512,truck,0.7775,0.032913,0.132479,0.003967
5,2023-10-03 12:37:53.227512,truck,0.4227,0.032913,0.132479,0.003967
6,2023-10-03 12:37:53.404711,truck,0.7779,0.024585,0.154220,0.000837
7,2023-10-03 12:37:53.404711,truck,0.3641,0.024585,0.154220,0.000837
8,2023-10-03 12:37:53.588385,truck,0.7785,0.036396,0.162564,0.000840
9,2023-10-03 12:37:53.588385,truck,0.4268,0.036396,0.162564,0.000840

In [5]:
df["Object"].value_counts()

Object
truck         336
car           108
No overlay      2
person          2
motorcycle      1
Name: count, dtype: int64

In [79]:
df["Total"] = df.iloc[:, 3:6].sum(axis=1)
df.head()

,Timestamp,Object,Confidence Score,Frame Read Time,Inference Time,Postprocess Time,Total
0,2023-08-22 11:45:38.934275,person,0.8362,0.016002,0.135534,0.001,0.152536
1,2023-08-22 11:45:38.934275,clock,0.7477,0.016002,0.135534,0.001,0.152536
2,2023-08-22 11:45:38.934275,person,0.6323,0.016002,0.135534,0.001,0.152536
3,2023-08-22 11:45:38.934275,umbrella,0.4156,0.016002,0.135534,0.001,0.152536
4,2023-08-22 11:45:38.934275,person,0.3262,0.016002,0.135534,0.001,0.152536

In [80]:
no_inference = df[df["Object"] == "No overlay"]
inference = df[df["Object"] != "No overlay"]

In [81]:
no_inference_mean = no_inference[["Frame Read Time", "Inference Time", "Postprocess Time", "Total"]].mean(axis=0)
no_inference_mean = round(no_inference_mean*1000, 2)
no_inference_mean

Frame Read Time     2.7
Inference Time      0.0
Postprocess Time    0.0
Total               2.7
dtype: float64

In [82]:
inference_mean = inference[["Frame Read Time", "Inference Time", "Postprocess Time", "Total"]].mean(axis=0)
inference_mean = round(inference_mean*1000, 2)
inference_mean

Frame Read Time      14.11
Inference Time      113.36
Postprocess Time      1.64
Total               129.11
dtype: float64

In [85]:
test = pd.concat([inference_mean, no_inference_mean], axis=1, ignore_index=True)
test2 = pd.DataFrame(test)
test3 = test2.transpose()
test3["Type"] = ["Inference", "No Inference"]
test3 = test3[["Type", "Frame Read Time", "Inference Time", "Postprocess Time", "Total"]]
test3

           Type  Frame Read Time  Inference Time  Postprocess Time   Total
0     Inference            14.11          113.36              1.64  129.11
1  No Inference             2.70            0.00              0.00    2.70

In [61]:
chart_data = pd.DataFrame(
    np.random.randn(20, 3),
    columns=['a', 'b', 'c'])

In [74]:
preds_df = inference[["Timestampe", "Object", "Confidence Score"]]
preds_df.head()

                   Timestampe    Object Confidence Score
0  2023-08-22 07:30:38.918422  umbrella           0.3204
1  2023-08-22 07:30:38.918422  umbrella           0.2797
2  2023-08-22 07:30:38.918422  umbrella           0.2621
3  2023-08-22 07:30:38.799360  umbrella           0.3204
4  2023-08-22 07:30:38.799360  umbrella           0.2797

In [89]:
inference.head()

,Timestamp,Object,Confidence Score,Frame Read Time,Inference Time,Postprocess Time,Total
0,2023-08-22 11:45:38.934275,person,0.8362,0.016002,0.135534,0.001,0.152536
1,2023-08-22 11:45:38.934275,clock,0.7477,0.016002,0.135534,0.001,0.152536
2,2023-08-22 11:45:38.934275,person,0.6323,0.016002,0.135534,0.001,0.152536
3,2023-08-22 11:45:38.934275,umbrella,0.4156,0.016002,0.135534,0.001,0.152536
4,2023-08-22 11:45:38.934275,person,0.3262,0.016002,0.135534,0.001,0.152536

In [87]:
confidence_df = inference.pivot(columns="Object", values="Confidence Score")
confidence_df.head()

Object   clock  person umbrella
0          NaN  0.8362      NaN
1       0.7477     NaN      NaN
2          NaN  0.6323      NaN
3          NaN     NaN   0.4156
4          NaN  0.3262      NaN

In [62]:
chart_data

           a         b         c
0   0.037554  0.567393 -0.305786
1  -0.120027 -1.089274 -1.134160
2  -0.120457  0.777886  1.321787
3   1.250871 -0.786714 -0.470108
4  -0.931649  1.723305 -0.332737
5  -1.293890  0.134163  0.554823
6   0.064564  0.053150 -0.158523
7   0.759735 -0.593186  0.681575
8  -2.099314  0.514270  0.383386
9   1.276020  1.584311 -1.882038
10 -0.577664  1.691556 -0.447283
11 -0.515815  0.655083  0.106770
12 -1.606575 -0.957769 -0.717164
13 -1.361637  0.580226 -0.428381
14  0.205447 -0.738106  1.021504
15  0.803523 -0.666154 -0.802968
16 -1.278580  0.396255 -0.500527
17 -1.014296  0.822708 -0.482861
18 -2.926107 -1.869533  2.392054
19 -0.836382 -0.134512 -0.621690

In [3]:
import datetime

In [4]:
test = [[[datetime.datetime(2023, 10, 2, 20, 57, 12, 39923), 'car', 0.942, 0.022225, 0.140431, 0.001497], [datetime.datetime(2023, 10, 2, 20, 57, 12, 39923), 'car', 0.7848, 0.022225, 0.140431, 0.001497], [datetime.datetime(2023, 10, 2, 20, 57, 12, 39923), 'car', 0.7241, 0.022225, 0.140431, 0.001497], [datetime.datetime(2023, 10, 2, 20, 57, 12, 39923), 'car', 0.5354, 0.022225, 0.140431, 0.001497]], [[datetime.datetime(2023, 10, 2, 20, 57, 12, 209302), 'car', 0.9403, 0.013089, 0.157367, 0.00158], [datetime.datetime(2023, 10, 2, 20, 57, 12, 209302), 'car', 0.7843, 0.013089, 0.157367, 0.00158], [datetime.datetime(2023, 10, 2, 20, 57, 12, 209302), 'car', 0.7268, 0.013089, 0.157367, 0.00158], [datetime.datetime(2023, 10, 2, 20, 57, 12, 209302), 'car', 0.5391, 0.013089, 0.157367, 0.00158], [datetime.datetime(2023, 10, 2, 20, 57, 12, 209302), 'car', 0.4137, 0.013089, 0.157367, 0.00158]], [[datetime.datetime(2023, 10, 2, 20, 57, 12, 385653), 'car', 0.941, 0.022, 0.126902, 0.00234], [datetime.datetime(2023, 10, 2, 20, 57, 12, 385653), 'car', 0.7777, 0.022, 0.126902, 0.00234], [datetime.datetime(2023, 10, 2, 20, 57, 12, 385653), 'car', 0.7291, 0.022, 0.126902, 0.00234], [datetime.datetime(2023, 10, 2, 20, 57, 12, 385653), 'car', 0.5305, 0.022, 0.126902, 0.00234]], [[datetime.datetime(2023, 10, 2, 20, 57, 12, 546005), 'car', 0.9409, 0.019738, 0.138337, 0.002015], [datetime.datetime(2023, 10, 2, 20, 57, 12, 546005), 'car', 0.7796, 0.019738, 0.138337, 0.002015], [datetime.datetime(2023, 10, 2, 20, 57, 12, 546005), 'car', 0.7478, 0.019738, 0.138337, 0.002015], [datetime.datetime(2023, 10, 2, 20, 57, 12, 546005), 'car', 0.5217, 0.019738, 0.138337, 0.002015]], [[datetime.datetime(2023, 10, 2, 20, 57, 12, 710339), 'car', 0.9419, 0.01259, 0.133183, 0.001406], [datetime.datetime(2023, 10, 2, 20, 57, 12, 710339), 'car', 0.7814, 0.01259, 0.133183, 0.001406], [datetime.datetime(2023, 10, 2, 20, 57, 12, 710339), 'car', 0.7321, 0.01259, 0.133183, 0.001406], [datetime.datetime(2023, 10, 2, 20, 57, 12, 710339), 'car', 0.5321, 0.01259, 0.133183, 0.001406], [datetime.datetime(2023, 10, 2, 20, 57, 12, 710339), 'car', 0.3, 0.01259, 0.133183, 0.001406]], [[datetime.datetime(2023, 10, 2, 20, 57, 12, 861240), 'car', 0.9419, 0.024747, 0.121353, 0.001051], [datetime.datetime(2023, 10, 2, 20, 57, 12, 861240), 'car', 0.7773, 0.024747, 0.121353, 0.001051], [datetime.datetime(2023, 10, 2, 20, 57, 12, 861240), 'car', 0.7339, 0.024747, 0.121353, 0.001051], [datetime.datetime(2023, 10, 2, 20, 57, 12, 861240), 'car', 0.5233, 0.024747, 0.121353, 0.001051]], [[datetime.datetime(2023, 10, 2, 20, 57, 13, 10837), 'car', 0.9425, 0.015067, 0.116935, 0.000895], [datetime.datetime(2023, 10, 2, 20, 57, 13, 10837), 'car', 0.7759, 0.015067, 0.116935, 0.000895], [datetime.datetime(2023, 10, 2, 20, 57, 13, 10837), 'car', 0.7404, 0.015067, 0.116935, 0.000895], [datetime.datetime(2023, 10, 2, 20, 57, 13, 10837), 'car', 0.52, 0.015067, 0.116935, 0.000895]], [[datetime.datetime(2023, 10, 2, 20, 57, 13, 146686), 'car', 0.9415, 0.01292, 0.12962, 0.000951], [datetime.datetime(2023, 10, 2, 20, 57, 13, 146686), 'car', 0.7828, 0.01292, 0.12962, 0.000951], [datetime.datetime(2023, 10, 2, 20, 57, 13, 146686), 'car', 0.7435, 0.01292, 0.12962, 0.000951], [datetime.datetime(2023, 10, 2, 20, 57, 13, 146686), 'car', 0.53, 0.01292, 0.12962, 0.000951]], [[datetime.datetime(2023, 10, 2, 20, 57, 13, 292856), 'car', 0.9383, 0.01562, 0.124144, 0.001519], [datetime.datetime(2023, 10, 2, 20, 57, 13, 292856), 'car', 0.7793, 0.01562, 0.124144, 0.001519], [datetime.datetime(2023, 10, 2, 20, 57, 13, 292856), 'car', 0.7452, 0.01562, 0.124144, 0.001519], [datetime.datetime(2023, 10, 2, 20, 57, 13, 292856), 'car', 0.5251, 0.01562, 0.124144, 0.001519]]]

In [11]:
len(test[2])

4

In [8]:
df = pd.DataFrame(test, columns=["Timestamp", "Object", "Confidence Score", "Frame Read Time", "Inference Time", "Postprocess Time"])

ValueError: 6 columns passed, passed data had 5 columns

In [12]:
test = [1,2,3]
test2 = [4,5,6]

In [13]:
test += test2

In [14]:
test

[1, 2, 3, 4, 5, 6]

In [16]:
import pandas as pd
import numpy as np

chart_data = pd.DataFrame(np.random.randn(20, 3), columns=["a", "b", "c"])

# st.area_chart(chart_data)

In [18]:
chart_data

           a         b         c
0  -0.318136 -0.384613 -0.818314
1   0.014635  0.899432  0.434069
2   0.879898  2.759238  0.200773
3   1.195975  0.223210  0.013039
4   1.285019  0.422330  0.344621
5   0.324232  0.384218  0.387426
6   0.674066 -0.346161  1.962401
7  -1.932568 -0.074805  0.654981
8   0.109316  0.134978  1.657508
9   0.461317  1.130488 -0.466801
10  0.959870  0.374144 -0.026314
11 -1.174539 -1.229258  0.642930
12 -0.422503 -0.314448 -1.717050
13  1.409187 -0.106586 -0.630309
14 -0.046406 -0.425531  0.869733
15 -0.890296 -0.010808  0.351823
16 -0.131433  0.983189 -0.475569
17  2.598537  0.706917  0.986254
18  0.085204 -0.182522 -0.150111
19  0.908295 -0.292806  0.331586