In [64]:
import numpy as np
import pandas as pd

In [77]:
df = pd.read_csv("data_agg.csv")
print(df.shape)
print(df.head())

(431, 6)
                    Timestamp    Object Confidence Score  Frame Read Time  \
0  2023-08-22 11:45:38.934275    person           0.8362         0.016002
1  2023-08-22 11:45:38.934275     clock           0.7477         0.016002
2  2023-08-22 11:45:38.934275    person           0.6323         0.016002
3  2023-08-22 11:45:38.934275  umbrella           0.4156         0.016002
4  2023-08-22 11:45:38.934275    person           0.3262         0.016002

   Inference Time  Postprocess Time
0        0.135534             0.001
1        0.135534             0.001
2        0.135534             0.001
3        0.135534             0.001
4        0.135534             0.001

In [78]:
df["Object"].value_counts()

Object
person        178
No overlay    112
umbrella       94
clock          47
Name: count, dtype: int64

In [79]:
df["Total"] = df.iloc[:, 3:6].sum(axis=1)
df.head()

,Timestamp,Object,Confidence Score,Frame Read Time,Inference Time,Postprocess Time,Total
0,2023-08-22 11:45:38.934275,person,0.8362,0.016002,0.135534,0.001,0.152536
1,2023-08-22 11:45:38.934275,clock,0.7477,0.016002,0.135534,0.001,0.152536
2,2023-08-22 11:45:38.934275,person,0.6323,0.016002,0.135534,0.001,0.152536
3,2023-08-22 11:45:38.934275,umbrella,0.4156,0.016002,0.135534,0.001,0.152536
4,2023-08-22 11:45:38.934275,person,0.3262,0.016002,0.135534,0.001,0.152536

In [80]:
no_inference = df[df["Object"] == "No overlay"]
inference = df[df["Object"] != "No overlay"]

In [81]:
no_inference_mean = no_inference[["Frame Read Time", "Inference Time", "Postprocess Time", "Total"]].mean(axis=0)
no_inference_mean = round(no_inference_mean*1000, 2)
no_inference_mean

Frame Read Time     2.7
Inference Time      0.0
Postprocess Time    0.0
Total               2.7
dtype: float64

In [82]:
inference_mean = inference[["Frame Read Time", "Inference Time", "Postprocess Time", "Total"]].mean(axis=0)
inference_mean = round(inference_mean*1000, 2)
inference_mean

Frame Read Time      14.11
Inference Time      113.36
Postprocess Time      1.64
Total               129.11
dtype: float64

In [85]:
test = pd.concat([inference_mean, no_inference_mean], axis=1, ignore_index=True)
test2 = pd.DataFrame(test)
test3 = test2.transpose()
test3["Type"] = ["Inference", "No Inference"]
test3 = test3[["Type", "Frame Read Time", "Inference Time", "Postprocess Time", "Total"]]
test3

           Type  Frame Read Time  Inference Time  Postprocess Time   Total
0     Inference            14.11          113.36              1.64  129.11
1  No Inference             2.70            0.00              0.00    2.70

In [61]:
chart_data = pd.DataFrame(
    np.random.randn(20, 3),
    columns=['a', 'b', 'c'])

In [74]:
preds_df = inference[["Timestampe", "Object", "Confidence Score"]]
preds_df.head()

                   Timestampe    Object Confidence Score
0  2023-08-22 07:30:38.918422  umbrella           0.3204
1  2023-08-22 07:30:38.918422  umbrella           0.2797
2  2023-08-22 07:30:38.918422  umbrella           0.2621
3  2023-08-22 07:30:38.799360  umbrella           0.3204
4  2023-08-22 07:30:38.799360  umbrella           0.2797

In [89]:
inference.head()

,Timestamp,Object,Confidence Score,Frame Read Time,Inference Time,Postprocess Time,Total
0,2023-08-22 11:45:38.934275,person,0.8362,0.016002,0.135534,0.001,0.152536
1,2023-08-22 11:45:38.934275,clock,0.7477,0.016002,0.135534,0.001,0.152536
2,2023-08-22 11:45:38.934275,person,0.6323,0.016002,0.135534,0.001,0.152536
3,2023-08-22 11:45:38.934275,umbrella,0.4156,0.016002,0.135534,0.001,0.152536
4,2023-08-22 11:45:38.934275,person,0.3262,0.016002,0.135534,0.001,0.152536

In [87]:
confidence_df = inference.pivot(columns="Object", values="Confidence Score")
confidence_df.head()

Object   clock  person umbrella
0          NaN  0.8362      NaN
1       0.7477     NaN      NaN
2          NaN  0.6323      NaN
3          NaN     NaN   0.4156
4          NaN  0.3262      NaN

In [62]:
chart_data

           a         b         c
0   0.037554  0.567393 -0.305786
1  -0.120027 -1.089274 -1.134160
2  -0.120457  0.777886  1.321787
3   1.250871 -0.786714 -0.470108
4  -0.931649  1.723305 -0.332737
5  -1.293890  0.134163  0.554823
6   0.064564  0.053150 -0.158523
7   0.759735 -0.593186  0.681575
8  -2.099314  0.514270  0.383386
9   1.276020  1.584311 -1.882038
10 -0.577664  1.691556 -0.447283
11 -0.515815  0.655083  0.106770
12 -1.606575 -0.957769 -0.717164
13 -1.361637  0.580226 -0.428381
14  0.205447 -0.738106  1.021504
15  0.803523 -0.666154 -0.802968
16 -1.278580  0.396255 -0.500527
17 -1.014296  0.822708 -0.482861
18 -2.926107 -1.869533  2.392054
19 -0.836382 -0.134512 -0.621690